
<form class="form-container" [formGroup]="subCategoryForm" (submit)="insert()">
  <div class="f-w">
    <h3>Create  Sub Category</h3>
  </div>
  <mat-form-field class="f-w" appearance="outline">
    <mat-label>Category</mat-label>
    <mat-select formControlName="categoryId">
      <mat-option value="0" selected="selected">--Select one--</mat-option>
      <mat-option *ngFor="let cat of categories" [value]="cat.id">{{cat.categoryName}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="f-w" appearance="outline">
    <mat-label>Sub Category Name</mat-label> 
    <input matInput formControlName="subCategoryName" />
  </mat-form-field>

  <div class="f-w">
    <button mat-raised-button type="submit" color="accent"><mat-icon>save_alt</mat-icon>Save</button>
  </div>
  <div class="f-w">
    <a mat-flat-button [routerLink]="['/subcategory']">Back to list</a>
  </div>
</form>



