
<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="mt-4">Add New Purchase</h1>
      <form #form="ngForm" *ngIf="service.formData">

        <div class="form-group row mb-2">
          <label class="col-form-label col-md-2">Purchase Date</label>
          <div class="col-md-6">
            <div class="input-group">
              <input name="purchaseDate" #purchaseDate="ngModel" [(ngModel)]="service.formData.purchaseDate" [matDatepicker]="picker" class="form-control" />
              <div class="input-group-prepend">
                <div class="input-group-text" style="padding:0!important">
                   <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                   <mat-datepicker #picker></mat-datepicker>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group row mb-2">
          <label class="col-form-label col-md-2">Supplier</label>
          <div class="col-md-6">
            <select name="supplierId" #supplierId="ngModel" [(ngModel)]="service.formData.supplierId" class="form-control">
              <option value="0">--Select--</option>
              <option *ngFor="let sup of suppliers" [value]="sup.id">{{sup.supplierName}}</option>
            </select>
          </div>
        </div>
        
        <div class="form-group row mb-2">
          <label class="col-form-label col-md-2">Total Amount</label>
          <div class="col-md-6">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">#</div>
              </div>
              <input name="totalAmount" #totalAmount="ngModel" [(ngModel)]="service.formData.totalAmount" class="form-control" />
            </div>
          </div>
          </div>

          <!--Purchase Details-->
          <table class="table table-borderless mt-3">
            <thead class="table-info">
              <tr class="text-capitalize">
                <td>productId</td>
                <td>quantity</td>
                <td>unitPrice</td>
                <td>manufacturingDate</td>
                <td>expiredDate</td>
                <td>isExpirable</td>
                <td>soldQuantity</td>
                <td>vatAmount</td>
                <td>discountAmount</td>
                <td>sellingPrice</td>
                <td>
                  <a class="btn btn-success btn-sm" (click)="AddOrEditPurchaseDetails(null,service.formData.purchaseId)"><i class="bi bi-plus"></i> New</a>
                </td>
              </tr>

            </thead>
            <tbody>
              <tr *ngIf="service.purchaseDetails.length==0">
                <td class="fst-italic text-center" colspan="10">
                  No Purchase Details Selected for this Product
                </td>
              </tr>
              <tr *ngFor="let d of service.purchaseDetails; let i=index">
                <td>{{d.productId}}</td>
                <td>{{d.quantity}}</td>
                <td>{{d.unitPrice}}</td>
                <td>{{d.manufacturingDate}}</td>
                <td>{{d.expiredDate}}</td>
                <td>{{d.isExpirable}}</td>
                <td>{{d.soldQuantity}}</td>
                <td>{{d.vatAmount}}</td>
                <td>{{d.discountAmount}}</td>
                <td>{{d.sellingPrice}}</td>
                <td>
                  <a class="btn btn-info btn-sm" (click)="AddOrEditPurchaseDetails(i,service.formData.purchaseId)"><i class="bi bi-pencil"></i>Edit</a>
                </td>
              </tr>
            </tbody>
          </table>

          <div class="form-group mt-3">
            <div class="">
              <button type="submit" class="btn btn-success"><i class="fas fa-send"></i>Submit</button>
            </div>
          </div>

      </form>
    </div>
  </div>
</div>
  





  
