.card-container {
  box-sizing: border-box;
  width: 1200px;
  margin: 25px auto 10px auto;
}

.table-container {
  box-sizing: border-box;
  width: calc(100%-20px);
  margin: 0 auto;
}

.filter {
  flex: 1 1 auto;
}

mat-header-cell {
  font-size: 15px;
}
table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: #777;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

.inner-table {
  width: 100%;
}

.inner-table mat-form-field {
    margin-top: 15px;
    width: 100%;
}
