.form-container {
  margin-top: 20px;
  margin-left: 30px;
  width: 100%;
}

.f-w {
  width: 30%;
  margin-right: 10px;
  margin-bottom: .5rem;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}
